@charset "utf-8";
/* CSS Document */
/*==========================================*/
/*ベースの設定
/*==========================================*/
html {
  font-size: 62.5%;
}

body {
  /*bodyの設定*/
  font-size: 1.6rem;
  letter-spacing: 0.8em;
  color: #171717;
  font-family: "Sawarabi Mincho", "PT Serif", serif, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  /*imgの共通設定*/
  width: 100%;
  vertical-align: bottom; /*隙間をなくす*/
}

a {
  text-decoration: none;
  display: inline-block;
}

li {
  list-style: none;
}

.button {
  /*buttonのコーディング*/
  position: relative;
  display: inline-block;
  padding: calc(1.5rem - 3px) 5rem 1.7rem;
  border: 2px solid #333;
  color: #fff;
  text-decoration: none;
  text-align: center;
  transition: 0.3s ease-in-out;
}

.button:after {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: -1;
  content: "";
  width: 100%;
  height: 105%;
  background-color: #1d293f;
  transition: 0.3s ease-in-out;
}

.button:hover {
  color: #f8e725;
}

.button:hover:after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.fadein {
  /*エフェクトの設定*/
  opacity: 0.1;
  transform: translate(0px, 55px);
  transition: all 500ms;
}

.fadein.scrollin {
  /*画面内に入った状態*/
  opacity: 1;
  transform: translate(0, 0);
}

/* delayの設定 */
.flex-box .fadein:nth-of-type(2) {
  transition-delay: 300ms;
  -moz-transition-delay: 300ms;
  -webkit-transition-delay: 300ms;
  -o-transition-delay: 300ms;
  -ms-transition-delay: 300ms;
}

.flex-box .fadein:nth-of-type(3) {
  transition-delay: 300ms;
  -moz-transition-delay: 600ms;
  -webkit-transition-delay: 600ms;
  -o-transition-delay: 600ms;
  -ms-transition-delay: 600ms;
}

.btn-nav-item {
  display: none;
}

/*==========================================*/
/*headerの設定
/*==========================================*/
.header {
  width: 100%;
  position: absolute; /*要素分のスペース確保の為*/
}

.logo {
  width: 400px;
  height: 40px;
  letter-spacing: 4px;
  z-index: 1000; /*スクロール時、一番上に持ってい来る*/
}

.logo a {
  line-height: 40px;
  font-size: 2.5rem;
  color: #fff;
  font-weight: bold;
}

.nav-item {
  background-color: #1d293f;
  width: 200px;
  height: 40px;
  padding: 0;
  margin: 0;
}

.nav-item:nth-child(1) {
  border-right: 1px solid #3b3333;
}

.nav-item a {
  color: #fff;
  font-size: 1.4rem;
  display: block;
  text-align: center;
  letter-spacing: 5px;
  line-height: 40px;
}

.nav-item a:hover {
  /*hover時、色を#F8E725に変更*/
  color: #f8e725;
}

.header-inner {
  padding-left: 4vw;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  z-index: 100;
}

.nav-list {
  width: 400px;
  display: flex;
  justify-content: space-between;
}

.burger-menu {
  display: none;
}

.header-clone {
  /*header-cloneクラスによるスティッキーヘッダの作成*/
  width: 100%;
  background-color: #1d293f;
  position: fixed;
  top: -40px;
  z-index: 100;
  opacity: 0.9;
  transition: top 0.4s;
}

.header-clone:hover {
  /*hover時、背景色の変更*/
  opacity: 1;
}

.header-clone.visible {
  top: 0;
}

.header-clone .logo {
  width: 400px;
  height: 40px;
  letter-spacing: 4px;
}

.header-clone .logo a {
  color: #f8e725; /*色の変更*/
  transition: color 0.3s;
}

.header-clone > .header-inner {
  padding-left: 4vw;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  z-index: 100;
}

.header-clone .nav-item a:hover {
  color: #f8e725; /*色の変更*/
}

/*==========================================*/
/*fvの設定
/*==========================================*/

.fv-wrapper {
  position: relative;
  top: -20px;
  overflow: hidden;
  width: 100vw;
  height: 280px;
  z-index: -1;
}

.fv-wrapper img {
  width: 100vw;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.main-text {
  position: absolute;
  top: 100px;
  left: 100px;
  color: #fff;
}

.main-jp {
  font-size: 2rem;
  letter-spacing: 0.5rem;
  margin-bottom: 10px;
  padding-left: 15px;
}

.main-copy {
  font-size: 3.5rem;
  line-height: 1.2;
  letter-spacing: 1px;
}

/*==========================================*/
/*aboutの設定
/*==========================================*/

/*==========================================*/
/*mapの設定
/*==========================================*/

/*==========================================*/
/*footerの設定
/*==========================================*/
footer {
  width: 100vw;
  background-color: #1d293f;
}

small {
  display: block;
  text-align: center;
  width: 100vw;
  height: 50px;
  line-height: 50px;
  color: #fff;
  font-size: 1rem;
  letter-spacing: 1.5px;
}

/*==========================================*/
/*レスポンスの設定 max-width: 414px;(モバイル)
/*==========================================*/
@media screen and (max-width: 414px) {
  /*==========================================*/
  /*ハンバーガーメニューの設定 デモ
/*==========================================*/
  .btn-nav-item {
    /*ハンバーガーメニュー*/
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 45vw;
    text-align: center;
    padding: 50px 0 0;
    background-color: rgba(34, 34, 34, 0.95);
    z-index: 200;
    transform: translateX(-100%); /*初期設定で画面の外側に配置*/
    opacity: 0; /*初期設定で非表示*/
    transition: transform 0.3s, opacity 0.3s;
  }

  .btn-text {
    /*ハンバーガーメニューの表示、要素の間隔を設定*/
    margin: 0 auto 30px;
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 0.2rem;
    border-bottom: 0.2px solid #fff;
    padding-bottom: 20px;
    width: 170px;
  }

  .btn-text:first-of-type {
    margin-top: 40px;
  }

  .btn-text:last-of-type {
    /*最後の要素はmarign-bottom: 0px;*/
    margin-bottom: 0;
  }

  .btn-text a {
    /*色の設定*/
    color: #fff;
  }

  .btn-text a:hover {
    color: #f8e725;
  }

  .burger-btn {
    /*ハンバーガーメニューの設定*/
    display: flex; /*横並び*/
    align-items: center;
    position: fixed; /*配置位置の調整*/
    top: 10px;
    right: 5vw;
    z-index: 300;
    cursor: pointer;
  }

  .bar {
    display: block;
    background-color: #fff;
    height: 2px;
    width: 25px;
    border-radius: 1px; /*角丸に設定*/
  }

  .bar-top {
    transform: translateY(-4px); /*4px上に設定*/
    transition: transform 0.3s;
  }

  .bar-bottom {
    transform: translateY(4px); /*4px下に設定*/
    transition: transform 0.3s;
  }

  .burger-menu {
    display: block;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    margin-top: 2px;
    margin-left: 5px;
  }

  .cross.bar-top {
    /*クリックした時のハンバーガーメニュー×印表示*/
    transform: translateY(2px) rotate(315deg);
    transition: transform 1s ease-out;
  }

  .cross.bar-mid {
    /*真ん中の線は非表示*/
    opacity: 0;
    transition: opacity 1s ease-out;
  }

  .cross.bar-bottom {
    /*下部の線を傾ける*/
    transform: translateY(-2px) rotate(-315deg);
    transition: transform 1s ease-out;
  }

  .open {
    /*クリックした時のハンバーガーメニューの表示*/
    transform: translateX(0); /*初期設定で画面の外側に配置 ➝ 表示*/
    opacity: 1; /*opacity: 1;で非表示だったのを表示する*/
    transition: transform 0.3s, opacity 0.3s;
  }

  .burger-musk {
    /*クリックした時の背景表示*/
    display: none;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); /*背景が暗くなる*/
    z-index: 100;
  }

  .burger-btn.black .bar {
    /*スクロールでハンバーガーメニューの色を変更する*/
    background-color: #f8e725;
    transition: background-color 0.3s;
  }

  .black .burger-menu {
    /*スクロールでmenuの色を変更する*/
    color: #f8e725;
    transition: color 0.3s;
  }

  .logo-inner.black {
    /*スクロールでロゴの色を変更する*/
    color: #f8e725;
    transition: color 0.3s;
  }

  body.noscroll {
    /*ハンバーガーメニューが開いたときにスクロールしなくなる*/
    overflow: hidden;
  }
}
