@charset "utf-8";
/* CSS Document */
/*==========================================*/
/*ベースの設定
/*==========================================*/
html{
	font-size: 62.5%;
}

body{/*bodyの設定*/
	font-size: 1.6rem;
	letter-spacing: .8em;
	color: #171717;
	font-family: 'Sawarabi Mincho','PT Serif', serif, sans-serif;	
}

*,*::before, *::after{
	box-sizing: border-box;
}

img{ /*imgの共通設定*/
	width: 100%;
	vertical-align: bottom; /*隙間をなくす*/
}

a{
	text-decoration: none;
	display: inline-block;
}

li{
	list-style: none;
}

.section{ /*各sectiontタグの設定*/
	padding: 0;
}

.section-wrapper{
	width: 100vw; /*sectiontタグの幅を100vwで設定*/
	padding-top: 20px;
	text-align: center;
}

.flex-box{ /*要素を横並びに設定するコード*/
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.section-title{ /*タイトルの設定*/
	font-size: 3.5rem;
	font-weight: bold;
	padding-bottom: 20px;
	letter-spacing: 3.4px;
}

.section-sub-title{
	font-size: 2rem;
	letter-spacing: 2px;
}

.title{
	margin: 0 auto;
	width: 600px;
	margin-bottom: 90px;
}

.gray-color{ /*businessとnewsの背景色の指定*/
	background-color: #f2f2f2;
}

.fadein{ /*エフェクトの設定*/
	opacity : 0.1;
	transform : translate(0px, 55px);
	transition : all 500ms;
	}
    
.fadein.scrollin{ /*画面内に入った状態*/
	opacity : 1;
	transform : translate(0, 0);
	}

/* delayの設定 */
.flex-box .fadein:nth-of-type(2) {
	transition-delay: 300ms;
	-moz-transition-delay: 300ms;
	-webkit-transition-delay: 300ms;
	-o-transition-delay: 300ms;
	-ms-transition-delay: 300ms;
	}

.flex-box .fadein:nth-of-type(3) {
	transition-delay: 600ms;
	-moz-transition-delay: 600ms;
	-webkit-transition-delay: 600ms;
	-o-transition-delay: 600ms;
	-ms-transition-delay: 600ms;
	}

.btn-nav-item{
	display: none;
}

/*==========================================*/
/*ボタンの設定
/*==========================================*/
.button{
	position: relative;
	display: inline-block;
	padding: calc(1.5rem - 3px) 5rem 1.7rem;
	border: 2px solid #333;
	color: #fff;
	text-decoration: none;
	text-align: center;
	transition: .3s ease-in-out;
}

.button:after{
	position: absolute;
	top: 5px;
	left: 5px;
	z-index: -1;
	content: "";
	width: 100%;
	height: 105%;
	background-color: #1D293F;
	transition: .3s ease-in-out;
}

.button:hover{
	color: #F8E725;
}

.button:hover:after{
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* ボタンのコーディング
.button span{ 
	display: flex;
	justify-content: center;
	align-items: center;
	width: 250px;
	height: 50px;
	line-height: 50px;
	color: #fff;
	font-size: 1.6rem;
	letter-spacing: .1rem;
	position: relative;
	-webkit-transiton: all .3s;
	transiton: all .3s;
}

.button-border{
	padding: calc(1.5rem - 12px) 3rem 1.5rem;
	background: #fff;
}

.button-border::before{
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: -6px;
	left: -6px;
	border: 1px solid #26453D;
  	-webkit-transition: all .3s ease;
	transition: all .3s ease;
}

.button-border:hover{
	padding: calc(1.5rem - 8px) 3rem 1.5rem;
}

.button-border:hover::before{
	top: 0;
	left: 0;
	border: 2px solid #1D293F;
}

.button-border::after{
	content: "";
	position: absolute;
	top: 35%;
	right: 3.5rem;
	border: 5px solid transparent;
  	border-left-color: #fff;
	opacity: 0;
}

.button-border:hover::after {
  	animation: arrow 1.8s infinite;
}

@keyframes arrow{
	50%{
		right: 2rem;
		opacity: 1;
	}
	100%{
		right: -1rem;
		opacity: 0;
	}
}

.button-shadow{
	background-color: #1D293F;
}
*/

/*==========================================*/
/*headerの設定
/*==========================================*/
.header{ 
	width: 100%;
	position: absolute; /*要素分のスペース確保の為*/
}

.logo{
	width: 400px;
	height: 40px;
	letter-spacing: 4px;
	z-index: 1000; /*スクロール時、一番上に持ってい来る*/
}

.logo a{
	line-height: 40px;
	font-size: 2.5rem;
	color: #fff;
	font-weight: bold;
}

.nav-item{
	background-color: #1D293F;
	width: 200px;
	height: 40px;
	padding: 0;
	margin: 0;
}

.nav-item:nth-child(1){
	border-right: 1px solid #3B3333;
}

.nav-item a{
	color: #fff;
	font-size: 1.4rem;
	display: block;
	text-align: center;
	letter-spacing: 5px;
	line-height: 40px;
}

.nav-item a:hover{/*hover時、色を#F8E725に変更*/
	color: #F8E725;
}

.header-inner{
	padding-left: 4vw;
	width: 100vw;
	display: flex;
	justify-content: space-between;
	z-index: 100;
}

.nav-list{
	width: 400px;
	display: flex;
	justify-content: space-between;
}

.burger-menu{ 
	display: none;
}

.header-clone{ /*header-cloneクラスによるスティッキーヘッダの作成*/
	width: 100%;
	background-color: #1D293F;
	position: fixed;
	top: -40px;
	z-index: 100;
	opacity: 0.9;
	transition: top .4s;
}

.header-clone:hover{ /*hover時、背景色の変更*/
	opacity: 1;
}

.header-clone.visible{ 
	top: 0; 
}

.header-clone .logo{
	width: 400px;
	height: 40px;
	letter-spacing: 4px;
}

.header-clone .logo a{ 
	color: #f8e725; /*色の変更*/
	transition: color .3s;
}

.header-clone > .header-inner{
	padding-left: 4vw;
	width: 100vw;
	display: flex;
	justify-content: space-between;
	z-index: 100;
}

.header-clone .nav-item a:hover{
	color: #f8e725; /*色の変更*/
}

/*==========================================*/
/*fvの設定
/*==========================================*/

.fv{
	width: 100vw;
	height: 100vh;
}

.fv-wrapper{
	position: relative;
	z-index: -1;
}

/*スライドショーの設定*/
.slideshow{
	overflow: hidden;
}

.slideshow img{
	width: 100vw;
	height: 100vh;
	display: none;
	position: absolute;
	top: 0;
	left: 0; 
}

.main-text{
	position: absolute;
	top: 220px;
	right: 130px;
	color: #fff;
}

.main-jp{
	font-size: 2rem;
	letter-spacing: .5rem;
	margin-bottom: 15px; 
	padding-left: 15px;
}

.main-copy{
	font-size: 7rem;
	line-height: 1.2;
	letter-spacing: 1px;
}

/*==========================================*/
/*nav-listの設定
/*==========================================*/
.nav-list-bottom{/*iconのコーディング*/
	width: 100vw;
	height: 300px;
	margin-bottom: 60px;
	text-align: center;
}

.nav-item-bottom{
	width: 100vw;
	background-color: #F2F2F2;
	border: 1px solid #1D293F;
	color: #1D293F;
}

.img-1{ /*ホバ―エフェクトの処理*/
	position: absolute;
}
.img-2{ /*ホバ―エフェクトの処理(マウスオーバー時は非表示)*/
	opacity: 0;
}

.nav-text{
	padding-top: 30px;
	padding-bottom: 2px;
	text-align: center;	
	font-size: 2.5rem;
	letter-spacing: 2px;
	color: #1D293F;
}

.nav-text-eng{
	font-size: 1.4rem;
	letter-spacing: 2px;
	color: #1D293F;
}

.nav-item-bottom img{
	width: 250px;
	height: 250px;
}

/*==========================================*/
/*createの設定
/*==========================================*/
.create-wrapper{
	height: 1400px;
	margin-bottom: 40px;
}

.create-inner{
	max-width: 100vw;
	padding: 0 4vw;
	position: relative;
}

.create-inner:first-child{
	margin-bottom: 100px;
}

.create-inner:nth-of-type(even){ /*逆向きに配置*/
  flex-direction:row-reverse;
}

.create-text-inner{
	position: absolute;
	top: 20px;
	left: 20px;
	z-index: 1;
	width: 40vw;
	height: 500px;
    background: rgba(29,41,63,.92);
}

.create-text-inner-second{
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 1;
	width: 40vw;
	height: 500px;
    background: rgba(29,41,63,.92);
}

.create-img{
	width: 90vw;
	height: 620px;
	background-image: url("../img/create1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.create-img-second{
	width: 90vw;
	height: 620px;
	background-image: url("../img/create2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.create-main-title{
	color: #F8E725;
	font-size: 9rem;
	letter-spacing: 2.5px;
	z-index: 2;
	position: absolute;
	top: -15px;
	left: 60px;
}

.create-main-title-second{
	color: #F8E725;
	font-size: 9rem;
	letter-spacing: 2.5px;
	z-index: 2;
	position: absolute;
	top: -15px;
	right: 355px;
}

.create-main-text{
	padding: 120px 40px 0px;
	color: #fff;
	font-size: 3rem;
	letter-spacing: 2.5px;
	text-align: left;
}

.create-text{
	padding: 20px 40px 10px;
	color: #fff;
	font-size: 1.6rem;
	letter-spacing: 2px;
	text-align: left;
	line-height: 3rem;
}

.create-text span{
	color: #F8E725;
}

.create-button{ /*create部のbuttonタグの高さを調節*/
	margin-top: 30px;
}


/*==========================================*/
/*businessの設定
/*==========================================*/
.gray-color{
	background-color: #F2F2F2;
}

.business{
	margin: 30px auto 50px;
}

.business-item{
	overflow: hidden;
}

.business-list{
	width: 100%;
	height: 800px;
}

.business-list div{
	background-color: rgba(0,0,0,0.5);
}

.business-list div a{
	color: #fff;
	font-size: 3.5rem;
	letter-spacing: 3px;
	text-align: center;
	line-height: 800px;
}

.business1{
	background: url(../img/business2.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.business2{
	background: url(../img/business1.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.business3{
	background: url(../img/business3.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

/*==========================================*/
/*Contactの設定
/*==========================================*/
.section-contact{
	height: 100vh;
	background-image: url("../img/greg2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}

.contact-inner{
	max-width: 700px;
	max-height: 300px;
	padding: 20px 20px 40px;
	position: absolute;
	top: 200px;
	left: 100px;
	background-color:rgba(248,231,37,0.5);
}

.contact-title{
	margin-bottom: 20px;
	font-size: 3.2rem;
	letter-spacing: 1.5px;
}

.contact-text{
	margin-bottom: 30px;
	letter-spacing: 3px;
	line-height: 27px;
}

/*==========================================*/
/*recruitの設定
/*==========================================*/
.recruit{
	margin: 70px 0;
}

.recruit-item{
	margin: 60px 0 30px;
	padding: 0 40px;
}

.recruit-list a img{
	transition: all .3s ease-in;
}

.recruit-list a:hover img{ /*ホバー時*/
	filter: brightness(0.7);
}

.recruit1{
	position: relative;
}

.recruit2{
	position: relative;
}

.recruit3{
	position: relative;
}

.recruit-text{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}

.recruit-img{
	border-radius: 210px;
	max-width: 550px;
	padding: 0px 10px;
	height: 340px;
	width: 100%;
	object-fit: cover; /*縦横比の崩れを防ぐ*/
	vertical-align: bottom; /*隙間をなくす*/
}

.recruit-text{
	font-size: 3rem;
	letter-spacing: 2.5px;
	color: #F8E725;
}

/*==========================================*/
/*newsの設定
/*==========================================*/
.news{
	height: 250px;
	position: relative;
}

.news-wrapper{
	position: absolute;
	top: 90px;
	left: 80px;
}

.news-title{
	padding-bottom: 20px;
	font-size: 3.5rem;
	letter-spacing: 2px;
}

.news-title-sub{
	font-size: 2rem;
	letter-spacing: 1rem
}

.news-item{
	text-align: left;
	max-width: 900px;
	padding-right: 40px;
}

.news-list{
	padding-bottom: 12px;
	margin-bottom: 30px;
	border-bottom: 1px solid #ddd;
	letter-spacing: 2px;
	transition: all .2s ease-in;
}

.news-list:hover{ /*ホバー時border-bottomの色を黒に変更*/
	border-image: linear-gradient(.25turn, #F8E725, 50% ,#1D293F, 50%)1/0 0 6px;
	border-bottom: 1px solid;
}

.news-time{
	margin-bottom: 10px;
	display: block;
	color: #cecece;
	font-size: 1rem;
	font-weight: bold;
	letter-spacing: 2px;
	transition: all .2s ease-in;
}

.news-topic{
	color: #333;
	font-size: 1.8rem;
	font-weight: bold;
}

.item-left{
	margin-left: auto;
}


/*==========================================*/
/*Back-to-top buttonの設定
/*==========================================*/
.back-to-top{
    margin: 0 auto;
    padding: 20px;
    width: 100%;
    cursor: pointer;
	display: block;
	position: absolute;
	bottom: 20px;
	left: 0;
	z-index: 300;
}

.scroll{
	padding-bottom: 8px;
	display: block;
	color: #fff;
	font-size: 1.8rem;
	font-weight: bold;
	letter-spacing: 3px;
}

.label{ /*サークルの作成*/
    width: 50px;
    height: 50px;
	margin-left: 5px;
	border: 2px solid #fff;
	border-radius: 100%;
	display: block;
    overflow: hidden;
}

.label::after{ /*矢印の作成*/
	content: '';
	width: 20px;
	height: 20px;
	display: block;
	margin: 17px auto;
	border-bottom: 2px solid #fff;
	border-left: 2px solid #fff;
	-webkit-transform: rotate(135deg);
  	transform: rotate(135deg);	
}

.label::before{ /*波紋の作成*/
	content: '';
	width: 50px;
	height: 50px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, .1);
	border-radius: 100%;
	opacity: 0;
	-webkit-animation: sdb 3s infinite;
	animation: sdb 3s infinite;
}

@-webkit-keyframes sdb {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 45px rgba(255, 255, 255, .1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes sdb {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 45px rgba(255, 255, 255, .1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.no-js .back-to-top{
    display: none;
}

/*==========================================*/
/*footerの設定
/*==========================================*/
footer{
	width: 100vw;
	background-color: #1D293F;
}

small{
	display: block;
	text-align: center;
	width: 100vw;
	height: 50px;
	line-height: 50px;
	color: #fff;
	font-size: 1rem;
	letter-spacing: 1.5px;
}


/*==========================================*/
/*レスポンスの設定 max-width: 1024px;(タブレット 横向き)
/*==========================================*/
@media screen and (max-width:1024px){
	
		/*createの設定*/
	.create-title{
		/*margin-topを400px追加しcreate部分がiconに重ならないようにする*/
		margin-top: 380px;
	}
	
	.nav-list-bottom{
		/* 下の行がフレックスボックスの記述、icon並びを変更(マルチカラム)*/
	    display: flex;
	    flex-wrap: wrap;
	}
	
	.nav-item-bottom{
		/*マルチカラムの幅を50％に変更*/
		width: 50%;
	}
	
		/*createのコーディング widthを80 ➝ 90vwに設定*/
	.create-img{
		width: 90vw;
	}
	
	.create-img-second{
		width: 90vw;
	}
	
	.create-text-inner{
		/*widthを40 ➝ 60vwに設定*/
		width: 60vw;
	}
	.create-text-inner-second{
		/*widthを40 ➝ 60vwに設定*/	
		width: 60vw;	
	}
	
		/*business部のflexboxを変更して横並びを解除*/	
	.recruit-item{
		display: block;		
	}
	
	.recruit-list{
		margin-bottom: 25px;
	}

		/*newsコーディング height250px ➝ 400pxに調整*/
	.news{
		height: 400px;
	}
		/*top:40px ➝ 10px、left:220px ➝ 40%に変更 newsタイトルを真ん中に配置*/
	.news-wrapper{
		top: 10px;
		left: 40%;
		transform: translateX(-40%);
	}
	
	.news-item{
		padding-top: 100px;
		padding-left: 20px;
	}
}


/*==========================================*/
/*レスポンスの設定 max-width: 768px;(タブレット)
/*==========================================*/
@media screen and (max-width:768px){

	/*fvの設定*/
	.fv{ /*heightを100 ➝ 80vhに設定して余白をなくす*/
		height: 80vh;
	}
	
	.slideshow img{ /*heightを100 ➝ 80vhに設定して写真の高さを調整*/		
		height: 80vh;
	}
	
	.main-text{ /*main-textの位置(right)を220 ➝ 40pxに設定*/
		right: 40px;
	}
	.main-jp{ /*フォントサイズを2 ➝ 1.5remに設定*/
		font-size: 1.5rem;
	}
	
	.main-copy{ /*フォントサイズを7 ➝ 6remに設定*/
		font-size: 6rem;
	}
	
		/*createの設定*/
	.create-title{ /*margin-topを400px追加しcreate部分がiconに重ならないようにする*/
		margin-top: 380px;
	}
	
	.create-wrapper{ /*heightを1400 ➝ 1500pxに設定*/
		height: 1500px;
	}
	
	.create-inner:first-child{ /*margin-bottomを100 ➝ 80pxに設定してcreateコンテンツ間の幅を調整*/
		margin-bottom: 80px;
	}
	
	.create-img{ /*widthを80 ➝ 90vwに設定*/
		width: 90vw;
	}
	
	.create-img-second{
		width: 90vw;
	}
	
	.create-text-inner{ /*widthを40 ➝ 60vwに設定*/
		width: 60vw;
	}
	.create-text-inner-second{ /*widthを40 ➝ 60vwに設定*/	
		width: 60vw;	
	}
	
	.create-button{/*create部のbuttonタグの高さを30px ➾ 25pxに調節*/
		margin-top: 25px;
	}

	.create-text br{ /*brをdispplay:noneに設定して、折り返しを削除*/
		display: none;
	}

	.business-item{ /*business部のflexboxを変更して横並びを解除*/
		display: block;
	}
	
	.business-list{
		height: 400px;
	}
	
	.business-list div a{
		line-height: 400px;
		font-size: 2.5rem;
	}

	.section-contact{ /*contact部のコーディング、背景写真の高さを調整*/
		height: 80vh;
	}
	
	.contact-inner{ /*お問い合わせ欄の位置を調整、left:100 ➝40px/top200 ➝ 150px*/
		top: 150px;
		left: 40px;
	}
}

/*==========================================*/
/*レスポンスの設定 max-width: 736px;(iPhone6,7,8Plus 横向き)
/*==========================================*/
@media screen and (max-width:736px){

	.main-text{ /*textの位置を調整*/
		top: 80px;
		right: 40px;
		margin-bottom: 5px; 
	}
	
	.main-jp{ /*フォントサイズを2 ➝ 1.5remに設定*/
		font-size: 1.5rem;
		letter-spacing: .5rem
	}
	
	.main-copy{ /*フォントサイズを7 ➝ 4remに設定*/
		font-size: 4rem;
		letter-spacing: .2rem
	}
	
	.nav-item{ /*高さを調整*/
		height: 35px;
	}

	.nav-item a{
		font-size: 1.2rem;
		line-height: 35px;
	}
	
	/*contactのコーディング*/
	.contact-inner{
		max-width: 500px;
		max-height: 300px;
		top: 30px;
		left: 20px;
	}

	.contact-title{
		margin-bottom: 10px;
		font-size: 2rem;
		letter-spacing: 1.5px;
	}

	.contact-text{
		margin-bottom: 20px;
		font-size: 1.2rem;
		letter-spacing: 1px;
		line-height: 20px;
	}
}


/*==========================================*/
/*レスポンスの設定 max-width: 414px;(モバイル)
/*==========================================*/
@media screen and (max-width: 414px){
	
/*==========================================*/
/*ベースの設定
/*==========================================*/
	
	.title{ /*タイトルの位置とモバイルに合わせて調整設定*/
		margin: 0 auto;
		width: 350px;
		margin-bottom: 40px;
	}
	
	.section-title{/*タイトルのサイズを調整*/
		font-size: 2rem;
		padding-bottom: 3px;
		letter-spacing: 2.5px;
	}
	
	.section-sub-title{ /*サブタイトルのサイズを調整*/
		font-size: 1.5rem;
		letter-spacing: 1.5px;
	}
	
	
	.flex-box{ /*要素の横並び解除 一列になる様に設定*/
	    display: flex;
	    flex-wrap: wrap;
	}

	.button span{ /*buttonタグのサイズを縮小*/
		width: 200px;
		height: 40px;
		font-size: 1.2rem;
	}
	
/*==========================================*/
/*ハンバーガーメニューの設定 デモ
/*==========================================*/
	.btn-nav-item{ /*ハンバーガーメニュー*/
		display: block;
		position: fixed;
		top: 0;
		right: 0;
		height: 100vh;
		width: 45vw;
		text-align: center;
		padding: 50px 0 0;
		background-color: rgba(34,34,34,.95);
		z-index: 200;
		transform: translateX(-100%); /*初期設定で画面の外側に配置*/
		opacity: 0; /*初期設定で非表示*/
		transition: transform .3s,opacity .3s;
	}

	.btn-text{ /*ハンバーガーメニューの表示、要素の間隔を設定*/
		margin: 0 auto 30px; 
		font-size: 1.5rem;
		text-align: center;
		letter-spacing: .2rem;
		border-bottom: .2px solid #fff;
		padding-bottom: 20px;
		width: 170px;
	}
	
	.btn-text:first-of-type{
		margin-top: 40px;
	}

	.btn-text:last-of-type{ /*最後の要素はmarign-bottom: 0px;*/
		margin-bottom: 0;
	}

	.btn-text a{ /*色の設定*/
		color: #fff;
	}
	
	.btn-text a:hover{
		color: #f8e725;
	}

	.burger-btn{ /*ハンバーガーメニューの設定*/
		display: flex; /*横並び*/
		align-items: center;
		position: fixed; /*配置位置の調整*/
		top: 10px;
		right: 5vw;
		z-index: 300;
		cursor: pointer;
	}

	.bar{
		display: block;
		background-color: #fff;
		height: 2px;
		width: 25px;
		border-radius: 1px; /*角丸に設定*/
	}

	.bar-top{
		transform: translateY(-4px); /*4px上に設定*/
		transition: transform .3s;
	}

	.bar-bottom{
		transform: translateY(4px); /*4px下に設定*/
		transition: transform .3s;
	}

	.burger-menu{
		display: block;
		font-size: 1.5rem;
		letter-spacing: .2rem;
		text-transform: uppercase;
		color: #fff;
		font-weight: bold;
		margin-top: 2px;
		margin-left: 5px;
	}
	
	.cross.bar-top{ /*クリックした時のハンバーガーメニュー×印表示*/
		transform: translateY(2px) rotate(315deg);
		transition: transform 1s ease-out;
	}
	
	.cross.bar-mid{ /*真ん中の線は非表示*/
		opacity: 0;
		transition: opacity 1s ease-out;
	}
	
	.cross.bar-bottom{ /*下部の線を傾ける*/
		transform: translateY(-2px) rotate(-315deg);
		transition: transform 1s ease-out;
	}
	
	.open{ /*クリックした時のハンバーガーメニューの表示*/
		transform: translateX(0); /*初期設定で画面の外側に配置 ➝ 表示*/
		opacity: 1; /*opacity: 1;で非表示だったのを表示する*/
		transition: transform .3s, opacity .3s;
	}
	
	.burger-musk{ /*クリックした時の背景表示*/
		display: none;
		height: 100vh;
		width: 100vw;
		position: fixed;
		top: 0;
		left: 0;
		background-color: rgba(0,0,0,.5); /*背景が暗くなる*/
		z-index: 100;
	}
	
	.burger-btn.black .bar{ /*スクロールでハンバーガーメニューの色を変更する*/
		background-color: #F8E725;
		transition: background-color .3s;
	}
	
	.black .burger-menu{ /*スクロールでmenuの色を変更する*/
		color: #F8E725;
		transition: color .3s;
	}

	.logo-inner.black{ /*スクロールでロゴの色を変更する*/
		color: #F8E725;
		transition: color .3s;
	}
	
	body.noscroll{ /*ハンバーガーメニューが開いたときにスクロールしなくなる*/
		overflow: hidden;
	}


/*==========================================*/
/*fvの設定
/*==========================================*/
	
	.header-inner{ /*ロゴ、お問い合わせ欄、採用情報の横並びの解除*/
		width: 100vw;
		display: inline-block;
		z-index: 100;
	}
	
	.logo{ /*logoの大きさを縮小*/
		width: 300px;
		height: 30px;
		letter-spacing: 4px;
		position: fixed;
		top: 0px;
		left: 10px;
	}

	.logo a{ /*logoの大きさを縮小*/
		line-height: 30px;
		font-size: 1.5rem;
		position: fixed;
	}
	
	.header-clone .logo{ /*スティッキーヘッダーを非表示*/
		display: none;
	}

	.nav-item{ /*お問い合わせ欄、採用情報の削除*/
		display: none;
	}

	.nav-item:nth-child(1){
		border-right: 1px solid #3B3333;
	}
	
	.fv{ /*heightを80vh ➝ 100％に設定して余白をなくす*/
		height: 100%;
	}
	
	.slideshow img{ /*メイン画像のwidthを100%、heightをautoにして幅に対して高さを自動調節する。*/		
		    width: 100%;
   			height: auto;
	}
			
	.main-text{ /*textの位置を調整*/
		top: 80px;
		right: 40px;
	}

	.main-jp{ /*フォントサイズを2 ➝ 1.2remに設定*/
		font-size: 1.2rem;
	}
	
	.main-copy{ /*フォントサイズを7 ➝ 2.5remに設定*/
		font-size: 2.5rem;
	}
	
	.header-nav-bottom{
		display: none;
	}
	/*createの設定*/
	.create-wrapper{ /*height:1500px; → 1200pxに入れ替え*/
		height: 1200px;
	}

	.create-title{ /*margin-topを400px ➝ -290pxに設定し余白を出さないように設定*/
		margin-top: 280px;
	}
	
	.create-text-inner{ /*height:500px; → 400px、z-indexを-1にして写真と順序を入れ替え*/
		top: 10px;
		left: 0px;
		z-index: -1;
		width: 100vw;
		height: 400px;
	}
	
	.create-text-inner-second{ /*height:500px; → 400px、z-indexを-1にして写真と順序を入れ替え*/
		top: 10px;
		right: 0px;
		z-index: -1;
		width: 100vw;
		height: 400px;
	}

	.create-inner{ /*要素の高さを確保する為、heighを設定*/
		height: 600px;
	}

	.create-inner:first-child{ /*pxを変更して余白を調整*/
		margin-bottom: -20px;
	}
	
	.create-img{ /*写真のサイズ変更*/
		width: 80vw;
		height: 250px;
		margin-top: 230px;
	}

	.create-img-second{ /*写真のサイズ変更*/
		width: 80vw;
		height: 250px;
		margin-top: 210px;
	}

	.create-main-title{
		font-size: 5rem;
		letter-spacing: 2.5px;
		top: -15px;
		left: 30px;
	}

	.create-main-title-second{
		font-size: 5rem;
		letter-spacing: 2.5px;
		top: -15px;
		left: 30px;
	}

	.create-main-text{ /*font-size 3 → 2.5rem*/
		padding: 50px 20px 0px;
		font-size: 2.5rem;
	}

	.create-text{
		padding: 20px 20px 0px;
		font-size: 1.2rem;
		letter-spacing: 1px;
		line-height: 3rem;
	}

	.create-button{ /*create部のbuttonタグの高さを30px →　-30pxに設定*/
		margin-top: -30px;
	}

	/*recruitのコーディング*/
	.recruit-img{ /*サイズ、border-radiusを調整*/
		border-radius: 60px;
		max-width: 500px;
		height: auto;
	}

	/*newsのコーディング*/
	.news-title{
		padding-bottom: 5px;
		font-size: 2rem;
		letter-spacing: 2px;
	}

	.news-title-sub{
		font-size: 1.5rem;
		letter-spacing: .5rem
	}

	.news-topic{
		font-size: 1.4rem;
	}

	.news-title{
		padding-bottom: 10px;
	}
	
	/*contactのコーディング*/
	.contact-inner{ /*topの位置を100pxに設定して調整する*/
		max-width: 500px;
		max-height: 300px;
		top: 100px;
	}

}
